*{margin:0;padding:0;}
body,html{
	width:100%;height:100%;
	font-family: "microsoft yahei";
	overflow:hidden;
	}
.wraper{width:100%;height:100%;}
.bodyLeft{
	background:#015c6f;
	width:173px;height:100%;
	position:absolute;
	z-index:2017;
	border-right:2px solid #01657b;
	transition:all 0.5s;
	/* overflow:hidden; */
	}
.bodyRight{
	width:100%;height:100%;
	/* padding-left:140px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* transition:all 0.5s; */
}
.bodyLeftTop {	
   height:60px;
   width:140px;
   border-bottom: 2px solid #01657b;
}
.bodyLeftTop img {
  float: left;
  display: inline;
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.bodyLeftTop span {
  float: left;
  display: block;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70px;
  line-height:60px;
  font-size:18px;
  color:white;
   -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.MenuBox{
	width:100%;
	height:auto;
}
.eachMenu{
	width:100%;
	height:auto;
	position:relative;
}
.eachMenu .list{
	width:140px;
	height:40px;
	border-bottom:3px solid #01657b;
	overflow:hidden;
	 cursor:pointer;
}
/* .eachMenu .list:hover{
	background: -ms-linear-gradient(left,rgba(86,218,255,.9) -200%,#1c2c38 100%);
    background: -webkit-linear-gradient(left,rgba(86,218,255,.9) -200%,#1c2c38 100%);
    background: -mos-linear-gradient(left,rgba(86,218,255,.9) -200%,#1c2c38 100%);
} */
.eachMenu .list img{
	float:left;
	margin:2px 14px 0 14px;
	 -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.eachMenu .list span{
	float:left;
	font-size:16px;
	line-height:36px;
	color:white;
}
.secondMenu{
	width:140px;
	height:auto;
	background:#015c6f;
	display:none;
	text-align:center;
}
.secondMenu .secondMenuList{
	width:140px;
	line-height:40px;
	border-bottom:2px solid #01657b;
	color:white;
	font-size:14px;
}
.secondMenu .secondMenuList:hover{
	background: -ms-linear-gradient(left,rgba(86,218,255,.9) -200%,#1c2c38 100%);
    background: -webkit-linear-gradient(left,rgba(86,218,255,.9) -200%,#1c2c38 100%);
    background: -mos-linear-gradient(left,rgba(86,218,255,.9) -200%,#1c2c38 100%);
}

.eachMenuSmaller > .secondMenu{
	position:absolute;
	left:56px;
	top:10px;
}
#iframe{
	box-sizing:border-box;
	padding-left:2px;
}
/* ///////////////////////////////////////////// */
#changeSize {
  float: left;
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #eee;
  margin: 15px 0 0 20px;
}
.controlMessage {
  width: auto;
  float: right;
  display: inline;
  list-style: none;
  height: 60px;
  margin-right: 20px;
  color: #666666;
}
.controlMessage .one {
  height: 40px;
  border-left: 1px solid #1c2c38;
  border-right: 1px solid #1c2c38;
  padding-top: 20px;
  float: left;
  display: inline;
  position: relative;
}
.controlMessage .one:hover .two {
  display: block;
}
.controlMessage .one:hover {
  border-left: 1px solid #1c2c38;
  border-right: 1px solid #1c2c38;
}
.controlMessage .one:hover .Till {
  z-index: 10;
}
.controlMessage .one .alarmNub {
  min-width: 20px;
  width: auto;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -3px;
  background: #92c742;
  text-align: center;
  line-height: 20px;
  color: white;
  z-index: 100;
}
.controlMessage .imgM {
  padding: 20px 8px 0 8px;
}
.controlMessage img {
  float: left;
  display: inline;
  width: 25px;
  height: 25px;
}
.controlMessage span {
  line-height: 30px;
  float: left;
  display: inline;
  z-index: 5;
  height: 40px;
  padding: 0 8px 0 8px;
  background: white;
}
.controlMessage .Till {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
}
.controlMessage .two {
  z-index: 9;
  width: 109px;
  background: white;
  list-style: none;
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
}
.controlMessage .two li {
  border: 1px solid #ccc;
  display: block;
  width: 60px;
  text-align: center;
  padding: 7px;
  font-size:15px;
}
.controlMessage .two li:hover {
  background: #0e6c82;
  color: white;
}
.controlMessage .twoL {
  width: 137px;
}
.controlMessage .twoL li {
  width: 122px;
}
/* .active {
  background: #015465 !important;
} */






