@charset "utf-8";
.clear {
  clear: both;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.minw {
  min-width: 1050px;
}
.fontFamily {
  font-family: "microsoft yahei";
  font-weight: normal;
}
.form-control {
  border: 1px solid #ccc;
  font-size: 14px;
}
.widMid {
  width: 120px !important;
}
.widBig {
  width: 150px !important;
}
.btn {
  height: 30px;
}
select {
  border: 1px solid #ccc;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "microsoft yahei";
  font-weight: normal;
}
.top {
  overflow: hidden;
  width: 100%;
  height: 45%;
  background: #f8f8f8;
}
.topLeft {
  float: left;
  display: inline;
  overflow: hidden;
  width: 18%;
  margin-left: 3%;
  height: 90%;
}
.topLeftOneBox {
  overflow: hidden;
  width: 100%;
  height: 30%;
  margin-top: 3%;
}
.redius {
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  float: left;
  display: inline;
  width: 50px;
  height: 50px;
  margin: 8% 10px 0 10px;
}
.redius img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 10px;
}
.Mess {
  float: left;
  display: inline;
  height: 100%;
  width: 90px;
  padding-top: 8%;
}
.Mess span {
  display: block;
  color: #666666;
  font-size: 16px;
}
.topCenter1 {
  overflow: hidden;
  float: left;
  display: inline;
  width: 25%;
  height: 90%;
  margin-left: 3%;
  margin-top: 20px;
}
.topCenter2 {
  overflow: hidden;
  float: left;
  display: inline;
  width: 17%;
  height: 90%;
  margin-top: 20px;
}
.topCenter2Mess {
  height: 70%;
  width: 100%;
  margin-top: 40%;
}
.nenghao {
  width: 100%;
  height: 20%;
  line-height: 30px;
  color: gray;
}
.tongbi {
  color: #90c948;
}
.topCenter3 {
  float: left;
  display: inline;
  width: 18%;
  height: 90%;
  margin-left: 2%;
  margin-top: 20px;
}
.topCenter3Mess {
  position: relative;
  width: 13%;
  float: left;
  display: inline;
  height: 90%;
  margin-top: 20px;
}
.topCenter3Mess .topCenter3MessMM {
  height: 60%;
  margin-top: 50%;
  width: 100%;
  color: gray;
}
.topCenter3Mess .topCenter3MessMM div{
	float:left;
}
.topCenter3Mess .topCenter3MessMM .first {
  width: 250px;
  /* float: left;
  display: inline;
  text-align: right; */
  line-height: 30px;
}
.topCenter3Mess .topCenter3MessMM .second {
  width: 250px;
/*   text-align: left;
  float: left;
  display: inline; */
  line-height: 30px;
}
.bottom {
  width: 100%;
  height: 50%;
  background: #f8f8f8;
}
.echarts3 {
  width: 45%;
  height: 95%;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-left: 20px;
}
.bottomRight {
  float: left;
  display: inline;
  width: 44%;
  height: 95%;
  margin-top: 20px;
  margin-left: 80px;
}
.echarts4 {
  width: 90%;
  height: 47%;
  float: right;
  display: inline;
}
.echarts5 {
  width: 90%;
  height: 46%;
  margin-top: 17px;
  float: right;
  display: inline;
}
/*# sourceMappingURL=home.css.map */
